$dark: #181A27;
$bege: #FFEFE5;
$blue: #162BF4;

$title-font: 'Abril Fatface',
cursive;
$body-font: 'Open Sans',
sans-serif;

*::selection {
    background-color: #FFFF33;
}

@keyframes woweffect {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes drop {
    0% {
        width: 0%;
    }

    50% {
        width: 45%;
    }

    100% {
        width: 43%;
    }
}

@keyframes dropvertical {
    0% {
        height: 0%;
    }

    100% {
        height: 100%;
    }
}

@keyframes rots {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(135deg)
    }
}

@keyframes rots2 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(67.5deg)
    }
}

@keyframes closeeffect {
    0% {
        width: 43%;
    }

    50% {
        width: 45%;
    }

    100% {
        width: 0%;
    }
}

@keyframes closevertical {
    0% {
        height: 100%;
    }

    90% {
        height: 0;
    }

    100% {
        left: -100%;
    }
}

@keyframes goaway {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.upholder {
    font-family: $body-font;
    font-size: 12px;
    color: $dark;
    display: flex;
}

.upholder.gobege {
    color: $bege;
    transition: all 0.3s ease-in-out;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px $dark inset;
    -webkit-text-fill-color: $bege !important;
}

#side-menu.closeeffect {
    animation: closevertical 1s forwards;

    @media screen and (min-width: 920px) {
        animation: closeeffect 1s forwards;
    }
}

.form-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

body {
    height: 100%;
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    background-color: $bege;

    @media screen and (min-width: 620px) {
        background-image: url('http://juauz.com/imgs/svgs/illustration.svg');
        background-repeat: no-repeat;
        background-size: 120%;
        background-position: -250% 30%;
    }

    @media screen and (min-width: 1024px) {
        background-size: 90%;
        background-position: 500% 28%;
    }


    @media screen and (min-width:1400px) {
        background-size: 65%;
        background-position: 140% 30%;
    }
}

body.noscroll {
    overflow-y: hidden;
    @media screen and (min-width: 920px) {
        overflow-y: auto;
    }
}

.side-menu {
    position: fixed;
    background-color: $dark;
    z-index: 100;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @media screen and (min-width: 920px) {
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}

.side-menu.drop {
    animation: dropvertical 1.2s forwards;


    @media screen and (min-width: 920px) {
        animation: drop 1.2s forwards;
    }
}

.side-menu-content {
    width: 80%;
    @media screen and (min-width: 920px) {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}

#side-menu-content.woweffect {
    animation: woweffect 1.8s;

    @media screen and (min-width: 920px) {
        animation: woweffect 0.8s;
    }
}

#side-menu-content.goaway {
    animation: goaway 0.6s forwards;
}

.top-side-menu,
.bot-side-menu {
    width: 100%;
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.top-side-menu #close {
    z-index: 0;
    width: 30px;
    height: 13px;
    position: relative;
    cursor: pointer;
    margin-top: 60px;
    margin-right: 9%;

    span {
        z-index: 200;
        transition: 0.3s all ease-in-out;
        height: 3px;
        background-color: $bege;
        position: absolute;
        width: 100%;
    }

    span:nth-child(1) {
        top: 0;
        transform: rotate(135deg);
    }
    span:nth-child(2) {
        transform: rotate(-135deg);
    }
}

#span1.ratata {
    animation: rots 1s forwards;
}

#span1.ratataback {
    animation: rots2 1s forwards;
}


h1 {
    font-family: $title-font;
    position: relative;
    color: $dark;
    margin: 0;
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 100;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-field {
    margin-bottom: 20px;
    position: relative;
    bottom: 0;
}

#form-button {
    cursor: pointer;
    outline: none;
    border: none;
    font-family: $body-font;
    font-size: 14px;
    padding: 16px;
    color: $dark;
    font-weight: 800;
    background-color: $bege;
    position: relative;
    border-radius: 2px;
    opacity: 1;
    transition: 0.5s all ease;
}

#form-button:disabled {
    opacity: .1;
    pointer-events: none;
    transition: 0.5s all ease;
}



.form-style {
    background-color: $dark;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    padding: 6px 2px;
    font-size: 14px;
    font-family: $body-font;
    color: $bege;

    &:focus {
        outline: none;
    }
}

.form-style.clicked {
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    transition: 0.5s all ease;
}

textarea {
    resize: none;
    height: 100px;
}

#work-title {
    color: $bege;
}

a.menu-link {
    font-family: $title-font;
    color: $dark;
    text-decoration: none;
    font-size: 30px;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6) {
        margin: 0 45px 20px 0;
        text-align: center;
    }


    &:nth-child(1) {
        margin-top: 20px;
    }

    @media screen and (min-width:430px) {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6) {
            margin: 0 100px 20px 0;
            text-align: center;
        }


        &:nth-child(1) {
            margin-top: 20px;
        }
    }

    @media screen and (min-width:700px) {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6) {
            margin: 0 180px 20px 0;
            text-align: center;
        }


        &:nth-child(1) {
            margin-top: 20px;
        }
    }


    @media screen and (min-width: 920px) {
        font-size: 16px;
        font-weight: 100;
        position: relative;

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6) {
            margin: 0;
        }

        &:before {
            transition: 0.3s all ease;
            content: '';
            background-color: $dark;
            width: 100%;
            height: 0;
            top: 100%;
            left: 0;
            position: absolute;
            z-index: -1;
        }

        &:hover {
            color: $bege;

            &:before {
                top: 0;
                height: 100%;
            }
        }
    }
}

a.hire-link {
    @extend a.menu-link;
    color: $blue;
    cursor: pointer;

    &:before {
        background-color: $blue;
    }
}

a.normal-link {
    @extend .hire-link;
    text-decoration: none;
    color: $dark;
    &:before {
        background-color: $dark;
    }
}

a.normal-link-topic {
    @extend .hire-link;
    text-decoration: none;
    color: $dark;
    font-size: 16px;

    &:before {
        background-color: $dark;
    }
}

a.hire-link-topic {
    @extend .hire-link;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

#medium,
#linkedin,
#behance,
#dribbble,
#twitter {

    @media screen and (min-width: 920px) {
        margin-right: 30px;
    }
}

#designer {
    width: 100%;
    @media screen and (min-width: 620px) {
        width: 50%;
    }
    @media screen and (min-width: 920px) {
        width: 100%;
    }
}

a.case-link {
    @extend h1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    max-width: 250px;
    padding: 12px 6px;
    border: 1.5px solid $blue;
    border-radius: 2px;
    text-decoration: none;
    position: relative;
    color: $blue;
    transition: 0.5s all ease;

    &:before {
        transition: 0.5s all ease-in-out;
        content: '';
        position: absolute;
        background-color: $blue;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        height: 0;
    }

    &:hover {
        transition: 0.5s all ease-in-out;
        color: $bege;

        &:before {
            transition: 0.2s all ease;
            top: 0;
            height: 100%;
            opacity: 1;
        }
    }
}

p {
    font-family: $body-font;
    color: $dark;
    margin: 0;
    font-size: 14px;
}

.link {
    font-family: $title-font;
    color: $blue;
}

.section {
    overflow-x: hidden;
    padding: 0px 20px 0px 20px;

    @media screen and (min-width: 430px) {
        padding: 0px 50px 0px 50px;
    }

    @media screen and (min-width:700px) {
        padding: 0px 90px 0px 90px;
    }

    @media screen and (min-width: 920px) {
        max-width: 1100px;
        margin: auto;
        padding: 0 120px 0 120px;
    }
}

.navigation {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    animation: woweffect 2.5s;

    @media screen and (min-width: 920px) {
        height: 166px;
    }
}

#menu-links {
    z-index: 50;
    flex-direction: column;
    position: absolute;
    top: 90px;
    background-color: $bege;
    width: 100%;
    align-items: flex-end;


    @media screen and (min-width: 920px) {
        display: flex;
        justify-content: flex-end;
        position: inherit;
        flex-direction: row;
        background-color: rgba(255, 239, 229, 0);
    }
}

.content {
    margin-top: 40px;

    @media screen and (min-width: 920px) {
        width: 50%;
    }
}

#section-2 {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    margin-top: 40px;
    margin-bottom: 60px;

    animation: woweffect 2s;

    @media screen and (min-width: 920px) {
        margin-top: 0;
    }
}

#logo {
    height: 24px;
}

#menu-icon {
    height: 16px;

    @media screen and (min-width: 920px) {
        display: none;
    }
}

#menu-icon-css {
    z-index: 50;
    width: 30px;
    height: 13px;
    position: relative;
    cursor: pointer;

    span {
        transition: 0.3s all ease-in-out;
        height: 3px;
        background-color: $dark;
        position: absolute;
        width: 100%;
    }

    span:nth-child(1) {
        top: 0;
    }

    span:nth-child(2) {
        top: 6px;
        width: 70%;
        right: 0;
    }

    span:nth-child(3) {
        top: 12px;
    }

    @media screen and (min-width:920px) {
        display: none;
    }
}

#menu-icon-css.rotate {

    span:nth-child(1) {
        transform: rotate(135deg);
        top: 6px;
    }

    span:nth-child(2) {
        opacity: 0;
        transition: 0.1s all ease-in-out;
    }

    span:nth-child(3) {
        transform: rotate(-135deg);
        top: 6px;
    }
}


.topic {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#topic1,
#topic2 {
    margin-bottom: 16px;
}

.star {
    height: 6px;
    width: auto;
    margin-right: 6px;
}

.case-studies {
    margin-top: 60px;
}

a.casestudy {
    width: 100px;
    height: 50px;
    background-color: blueviolet;
}

.case-content {
    display: block;
}

.case-description {
    width: 200px;
    display: block;
    opacity: 1;
    color: $blue;
    font-size: 12px;
    margin-bottom: 4px;
    padding: 1px 1px;
    border: 1px solid $bege;
}

.open-on {
    width: 122px;
    padding: 1px 1px;
    background-color: $blue;
    color: #fff;
    display: block;
}

#casestudy1,
#casestudy2 {
    margin-bottom: 30px;
}

.full-fucking-width {
    height: 500px;

    @media screen and (min-width: 1980px) {
        height: auto;
    }
}

.hide {
    display: none;
}

.show {
    display: flex;
    visibility: visible;
    opacity: 1;
}
